//
// Logo
// Class for the full-color Pigeon logo
// --------------------------------------------------------------------

.jam-logo {
  margin: auto;
  position: relative;
  display: block;
  width: 25rem;
  height: 5rem;
  background-image: url('../../assets/images/jam-logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}


// Responsive Style
// --------------------------------------------------------------------

// Small Breakpoint
@media (max-width: $small-break) {
  .jam-logo {
  	width: 20rem;
  	height: 3rem;
  }
}