

.pricing-container {
	background: $white;
	border: 1px solid $grey-mid;
	border-radius: 10px;
	padding: 1.65em;
	text-align: center;

	h1 {
		font-size: 5em;
		line-height: 7rem;

		&.custom {
			font-size: 3em;
		}
	}

	#{$all-buttons} {
		margin: 2rem 0 0 0;
	}
}